// .banner {
//   background-image: url(../img/bottlesgroup-banner.webp);
//   height: 600px;
// }

.banner {
  background-image: url(../img/bottlesgroup-banner.webp);
  background-repeat: no-repeat;
  background-size: 1700px 770px;
  height: 850px;
  position: relative;
}

.banner img {
  margin: 0;
}

h1 {
  padding: 378px 0;
  font-family: OfeliaDisplay-Extrabold;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  box-sizing: border-box;
}

/* Media queries */
@media (max-width: 996px) {
  .banner {
    background-size: 1660px 730px;
    height: 724px;
  }
}

@media (max-width: 996px) {
  h1 {
    font-size: 60px;
    text-align: center;
    padding: 252px 0;
  }
}
