.countries {
  margin: 150px 0 163px 0;
}

.countries h2 {
  margin-bottom: 89px;
}

.co-france,
.co-belgium,
.co-swiss {
  text-align: center;
  font-family: OfeliaDisplay-Regular;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.co-icon {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.co-swiss img {
  width: 70%;
}

.co-name {
  font-family: OfeliaDisplay-Medium;
  font-size: 25px;
  color: #000000;
  letter-spacing: 0;
  margin: 20px 0 20px 0;
}

.co-name-belgium {
  margin-top: 70px;
}

.co-name-swiss {
  margin-top: 90px;
}

/* Media queries */
@media (max-width: 996px) {
  .countries h2 {
    margin: -120px 0 30px 0;
    font-size: 30px;
    text-align: center;
  }
  .co-france,
  .co-belgium {
    margin-bottom: 40px;
  }
  .co-icon {
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0;
  }
  .co-swiss .co-icon {
    width: 110%;
    margin: 20px 0 0 0;
  }
  .co-name {
    font-size: 23px;
    text-align: start;
    margin: 5px 0 5px 0;
  }
  .co-adresses {
    font-size: 13px;
    font-weight: 600;
    text-align: start;
    line-height: 11px;
  }
  .co-name-france {
    margin: 10px 0 0 0;
  }
  .co-belgium .co-name {
    text-align: end;
  }
  .co-belgium .co-adresses {
    text-align: end;
  }
}
