.diy {
  margin: 150px 0 150px 0;
}

.di-intro {
  font-family: OfeliaDisplay-Light;
  font-size: 20px;
  margin: 30px 0 80px 170px;
}

.di-object {
  background-color: #fff;
  padding: 4px 14px;
  border-radius: 23px;
  font-family: OfeliaDisplay-Extrabold;
  font-size: 20px;
  position: absolute;
  z-index: 2;
  bottom: 15px;
  right: 27px;
  // display: flex;
  // justify-content: end;
  // align-items: end;
}

.di-savon,
.di-candle,
.di-candlestick,
.di-spray {
  position: relative;
}

.di-savon,
.di-candle {
  margin-bottom: 30px;
}

.di-button {
  background: #ff4949;
  border-radius: 25px;
  border: none;
  font-family: OfeliaDisplay-Extrabold;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  padding: 11px 45px;
  margin: 40px;
}

.di-button:hover {
  color: #ff4949;
  background-color: #fff;
  box-shadow: 0 0 9px 1px #e0d19c;
}

/* Media queries */
@media (max-width: 996px) {
  .diy {
    margin: 70px 0 0 0;
  }
  .diy h2 {
    margin: 0;
    text-align: center;
    font-size: 33px;
  }
  .di-intro {
    margin: 35px 13px 25px 13px;
    font-size: 16px;
  }
  .di-savon,
  .di-candle {
    margin-bottom: -20px;
  }
  .di-spray {
    margin-bottom: -135px;
  }
  .di-savon img,
  .di-candle img,
  .di-spray img {
    clip-path: polygon(0 4%, 100% 4%, 100% 84%, 0 84%);
  }
  .di-candlestick img {
    clip-path: polygon(0 39%, 100% 39%, 100% 90%, 0 90%);
  }
  .di-object {
    margin: 0 0 20px 0px;
    font-size: 20px;
  }
  .di-candlestick .di-object {
    margin: 0 0 28px 0;
  }
  .di-button {
    font-size: 19px;
    margin: 15px 40px 40px;
  }
}
