.engagements {
  font-family: OfeliaDisplay-Regular;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

.en-logo-line {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 154px;
}

.en-logo-line p {
  margin-top: 10px;
  font-weight: 300;
}
