.fo-leamo-logo {
  width: 80%;
  margin: 67px 0 247px 0;
}

h4 {
  margin-top: 90px;
}

.fo-shop {
  margin-top: 38px;
}

.fo-follow {
  margin-bottom: -14px;
}

.fo-social-logo {
  width: 7%;
  margin-right: 13px;
}

.fo-facebook-logo {
  margin-top: 13px;
}

.fo-facebook {
  margin-top: 60px;
}

footer a {
  font-family: OfeliaDisplay-Light;
  font-size: 21px;
  color: #000000;
  letter-spacing: 0;
  text-decoration: none;
}

.fo-conditions {
  font-family: OfeliaDisplay-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}
