.cta {
  margin: 110px 0 0 0;
}

.cta-body {
  background-color: #ff4949;
  font-family: OfeliaDisplay-Light;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 40px;
  height: 100%;
}

.cta-leamo-body {
  padding: 39px 103px 0 51px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.cta-lemons {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.cta-paradise {
  margin-bottom: 150px;
}

.cta-paradise-body {
  padding: 18px 80px 0 38px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  margin-bottom: 150px;
  height: 75%;
  width: 100%;
}

.cta-engagements {
  display: flex;
  justify-content: start;
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
  color: #022543;
  padding-right: 70px;
}

.cta-cocktail {
  height: 220px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.cta-button {
  background-color: #ffffff;
  border: none;
  border-radius: 23px;
  color: #000;
  font-family: OfeliaDisplay-Bold;
  font-size: 23px;
  text-align: center;
  padding: 6px 13px;
  margin: 43px 0 35px 320px;
}

.cta-paradise-button {
  margin: 25px 0 20px 0px;
}

/* Media queries */
@media (max-width: 996px) {
  .cta-body {
    border-radius: 0;
    font-family: OfeliaDisplay-Medium;
    font-size: 11px;
    line-height: 20px;
  }
  .cta-leamo-body {
    padding: 12px 20px 0px;
  }
  .cta-lemons {
    border-radius: 0;
  }
  .cta-button {
    font-size: 14px;
    margin: 18px 0 24px 0;
    padding: 3px 15px;
  }
  .cta-engagements {
    display: none;
  }
  .cta-cocktail {
    border-radius: 0;
  }
  .cta-paradise {
    margin-top: 30px;
  }
  .cta-paradise-body {
    margin-bottom: 0px;
    padding: 15px 43px 70px 20px;
  }
}

@media (min-width: 996px) {
  .cta-cocktail {
    height: 432px;
  }
}
